WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://WebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://WebService" xmlns:intf="http://WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://WebService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="placeOrder">
    <complexType>
     <sequence>
      <element name="ItemNumber" type="xsd:int"/>
      <element name="Amount" type="xsd:int"/>
      <element name="FirstName" type="xsd:string"/>
      <element name="LastName" type="xsd:string"/>
      <element name="EmailAddress" type="xsd:string"/>
      <element name="Postcode" type="xsd:string"/>
      <element name="StreetAddress" type="xsd:string"/>
      <element name="City" type="xsd:string"/>
      <element name="County" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="placeOrderResponse">
    <complexType>
     <sequence>
      <element name="placeOrderReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getItemCatalogue">
    <complexType/>
   </element>
   <element name="getItemCatalogueResponse">
    <complexType>
     <sequence>
      <element name="getItemCatalogueReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getItemCatalogueRequest">

      <wsdl:part element="impl:getItemCatalogue" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="placeOrderResponse">

      <wsdl:part element="impl:placeOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getItemCatalogueResponse">

      <wsdl:part element="impl:getItemCatalogueResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="placeOrderRequest">

      <wsdl:part element="impl:placeOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="placeOrder">

         <wsdl:input message="impl:placeOrderRequest" name="placeOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:placeOrderResponse" name="placeOrderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getItemCatalogue">

         <wsdl:input message="impl:getItemCatalogueRequest" name="getItemCatalogueRequest">

       </wsdl:input>

         <wsdl:output message="impl:getItemCatalogueResponse" name="getItemCatalogueResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="placeOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="placeOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="placeOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getItemCatalogue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItemCatalogueRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItemCatalogueResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/MailOrderApplication/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
